[Unit]
Description=Navi-Web-Backend
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/Navi
ExecStart=/usr/bin/python3 navi-web.py
Group=navi

[Install]
WantedBy=multi-user.target
