[Unit]
Description=Navi-CSI-Backend
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/Navi
ExecStart=/usr/bin/python3 -m rasa run --enable-api
User=csi
Group=csi

[Install]
WantedBy=multi-user.target
