[Unit]
Description=Navi-Web-Backend
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/Navi
ExecStart=gunicorn -w 4 -b 0.0.0.0 'navi-web:app'
Group=navi

[Install]
WantedBy=multi-user.target
