pyfiglet
requests
pyopenssl 
tabulate
cryptography
spacy
qrcode
googletrans==4.0.0-rc1
colorama
pillow
numpy==1.26.4
image
mido
psutil
prompt_toolkit==3.0.48
PyPDF2==3.0.1
sentence-transformers==3.3.1
